@import "_variables";

@import "_mixins";

if $colors = hexo-config('style.colors')
  @import $colors;
else
  @import "_colors";

if $_iconfont = hexo-config('style.iconfont')
  @import $_iconfont;
else
  @import "_iconfont";

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";

if $custom = hexo-config('style.custom')
  @import $custom;

@font-face {
  font-family: yin;
  src: url("https://cdn.jsdelivr.net/gh/DreamStar1996/ImageHub-CDN@1.1.3/font/inpinxuanyihei/inpinxuanyihei.woff2");
}
