<div id="search">
  <div class="inner">
    <div class="search-head">
      <span class="close-btn" role="button" tabindex="0" aria-label="Close search">
        <i class="ic i-times-circle"></i>
      </span>
    </div>
    <div id="pagefind-search"></div>
  </div>
</div>
